PORT=3000
API_KEY=CAMBIAR_POR_CLAVE_GENERADA
JWT_SECRET=CAMBIAR_POR_SECRET_GENERADO
NGROK_DOMAIN=tu-dominio.ngrok-free.app
OLLAMA_MODEL=llama3.2:1b
WORKER_PIN=1234
ONESIGNAL_APP_ID=
ONESIGNAL_API_KEY=
